.header{
    background-color:#2666CF;
    justify-content: space-around;
    display: flex;
}
.symbol{
    padding-top: 10px;
    color: white;    
}
.navbar{
    color: white;
}
.text-color{
 color: white;
}
.btn-lg.round {
    padding-top: 10px;
	border-radius: 24px;
    color: white;
}


