.header{
    background-color:#2666CF;
    justify-content: space-around;
    display: flex;
}
.symbol{
    padding-top: 10px;
    color: white;    
}
.text-color{
 color: white;
}
.btn-lg.round {
    padding-top: 10px;
	border-radius: 24px;
    color: white;
}
.parent{
    align-items: center;
}
.middle-space{
    background-color: #2666CF;
    height: 20vh;
}
.IAP{
    background-color: #2666CF;
    color: aliceblue;
    justify-content: center;
    display: flex;
}

